<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emediconn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Patient.PatientActivity">  <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".Patient.DoctorDescription">

        </activity>
        <activity android:name=".Patient.DoctorCategory"></activity>
        <activity android:name=".Patient.DoctorList" />
        <activity android:name=".Doctor.otp_doctor" />
        <activity android:name=".Patient.ResetPassword" />
        <activity android:name=".Patient.ForgetPassword" />
        <activity android:name=".Patient.otp_patient" />
        <activity android:name=".Patient.PatientRegistration" />
        <activity android:name=".Patient.LoginPatient" />
        <activity android:name=".Patient.RegisterPatient" />
        <activity android:name=".Doctor.DoctorDashboard" />
        <activity
            android:name=".Doctor.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Doctor.LoginDoctor" />
        <activity android:name=".Doctor.DoctorRegistration" />
        <activity android:name=".SelectProvider" />
        <activity android:name=".ChooseRole" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>